.commentboxflex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 300px;
  padding: 0.5em;
}

.commentbox-first-row {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
}

.commentbox-second-row {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  padding-top: 0.3em;
}

.commentbox-last-row {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding-top: 0.5em;
}

.commentbox-spacer {
  margin-bottom: 1em;
}

.likebutton{
  width: 1.2em;
  height: 1.2em;
}

.likebutton:hover{
  background-color: lightgrey;
  cursor: pointer;
}

.trashbutton{
  width: 1.2em;
  height: 1.2em;
}

.trashbutton:hover{
  background-color: lightgrey;
  cursor: pointer;
}

.editbutton{
  width: 1.2em;
  height: 1.2em;
}

.editbutton:hover{
  background-color: lightgrey;
  cursor: pointer;
}

.commentText{
  white-space: pre-line;
  text-align: left;
}

.replyformflex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 300px;
  padding: 0.5em;
}

.replyformflex-first-row {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
}

.replyformflex-last-row {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding-top: 0.5em;
}

.replyform-textarea {
  width: 100%;
  resize: none;
  /*border-bottom: 1px;
  border-style: solid;
  border-top: 0px;
  border-left: 0px;*/
  border: 0px;
  height: 3em;
  background-color: #EEE;
}

.replyformflex-button-cancel {
  border: 0px;
  background-color: transparent;
}

.replyformflex-button-cancel:hover {
  border: 0px;
  background-color: #EEE;
  cursor: pointer;
}

.replyformflex-button-cancel:active {
  border: 0px;
  background-color: #DDD;
  cursor: pointer;
}

.replyformflex-button-add {
  border: 0px;
}

.replyformflex-button-add:hover {
  border: 0px;
  cursor: pointer;
}

.replyformflex-button-add:active {
  border: 0px;
  background-color: #DDD;
  cursor: pointer;
}

.replyformflex-charcounter {
  color: #999;
}

.replyformflex-charcounter-alert {
  color: darkorange;
}

.replyformflex-charcounter-error {
  color: red;
}

.visible {
  display: flex;
}

.invisible {
  display: none;
}